:root{
    --point-color: #98FF98;
    --line-color: #FFD700;
    --bar-color: #87CEEB;

}

.horizontal-buttons{
    width: auto;
    place-content: center;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.statCards{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
    width: 85%;
}

@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      --card-bg: #e3ecef;
      --text-color: #000000;

      --point-color: #7851A9;
      --line-color: #FF6F61;
      --bar-color: #008080;
    }
    body {
      background: none;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
    
  }