#root {
  width: 100vw;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.1;
  text-align: left;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.front-page-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.settings-button{
  background-color: #7f6455f1;
  color: #ffffff;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  z-index: 20000;
  position: relative;


  /* in and out animations */
  animation: spinIn 0.5s forwards;

}

header .settings-button{
  margin-right: 20px;

  position: fixed;
  margin-left: 75vw;;
}

.bottom-button{
  margin-right: auto;
  margin-left: auto;
  padding : 0.5em 1em;
  text-align: center;
  text-decoration: none;
  z-index: 0;

}




.settings-button:hover {
  border-color: #646cff;
}

b{
  z-index: 0;
  position: relative;
}



.rs-slider{
  width: 100%;
  height: auto;
  overflow: hidden;
}