#root {
  width: 100vw;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.wrapper {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.1;
  text-align: left;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
