:root {
  --card-bg: #573A25;
  --text-color: #ffffff;
}

body {
  background: linear-gradient(180deg, #372C25 0%, #6D5649 53%, #9D7C69 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    --card-bg: #e3ecef;
    --text-color: #000000;
  }
  body {
    background: none;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



section, h1, li, img, div{
  -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  transition: width 1s ease-in-out, left 1.5s ease-in-out;

  -moz-transition: height 1s ease-in-out, top 1.5s ease-in-out;
  -webkit-transition: height 1s ease-in-out, top 1.5s ease-in-out;
  -moz-transition: height 1s ease-in-out, top 1.5s ease-in-out;
  -o-transition: height 1s ease-in-out, top 1.5s ease-in-out;
  transition: height 1s ease-in-out, top 1.5s ease-in-out;
}