:root {
  --card-bg: #573a25;
  --card-border: #dfdfdf;
  --text-color: #ffffff;
}

body {
  background: linear-gradient(180deg, #372c25 0%, #6d5649 53%, #9d7c69 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: scroll;
}

.wrapper{
    place-content: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 10vh;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    --card-bg: #e3ecef;
    --card-border: #dfdfdf;
    --text-color: #000000;
  }
  body {
    background: none;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    color: #000000 !important;
  }
}

section, h1, li, img, div{
  -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  transition: width 1s ease-in-out, left 1.5s ease-in-out;

  -moz-transition: height 1s ease-in-out, top 1.5s ease-in-out;
  -webkit-transition: height 1s ease-in-out, top 1.5s ease-in-out;
  -moz-transition: height 1s ease-in-out, top 1.5s ease-in-out;
  -o-transition: height 1s ease-in-out, top 1.5s ease-in-out;
  transition: height 1s ease-in-out, top 1.5s ease-in-out;
}

.clickable{
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
}
