.nav-footer{
    margin-top: 92vh;
    width: 100vw;
    display: flex;
    height: 8vh;
    flex-direction: row;
    position: fixed;
}

.nav-footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #9b7b6856;    
    position: relative;
    z-index: 100;
    border-radius: 0;
    margin-left:auto;
    margin-right:auto;
    border-width: 0;
    color: #ffffff;

    
}

a svg{
    width: 30px;
    height: 30px;
    
}

/*hover*/
.nav-footer a svg:hover{
    color: #adadad;

}

.nav-footer a:hover{
    background-color: none;
    color: none;
}

/* click  */
a:active{
    background-color: none;
}





@media (prefers-color-scheme: light) {
    .nav-footer a{
        background-color: #fffffff1;
        color: #000000;
    }
    .nav-footer a svg:hover{
        color: #919191;
    }
    a img{
        filter: invert(0);
    }
}

