.nav-footer{
    margin-top: 90vh;
    width: 100vw;
    display: flex;
    height: 10vh;
    flex-direction: row;
    position: fixed;
}

.nav-footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #9D7C69;
    position: relative;
    z-index: 100;
    border-radius: 0;
    margin-left:auto;
    margin-right:auto;
    border-width: 0;
    color: #ffffff

    
}

a svg{
    width: 30px;
    height: 30px;
    
}

/*hover*/
.nav-footer a:hover{
    background-color: #7D5A43;

}





@media (prefers-color-scheme: light) {
    .nav-footer a{
        background-color: #ffffff;
        color: #000000;
    }
    .nav-footer a:hover{
        background-color: #f5f5f5;
    }
    a img{
        filter: invert(0);
    }
}

