.nav-footer{
    width: 100vw;
    display: flex;
    height: 100px;
}

.nav-footer Link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
 
    position: relative;
    z-index: 100;
    border: none;
    border-radius: 0;
    
}

/*hover*/
.nav-footer Link:hover{
    background-color: #cecece;

}



Link img{
    background-color: rgba(rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), 0);
    background: transparent
}